[package]
name = "x"
version = "0.0.0"
publish = false

edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
orb-x-optee.workspace = true
tracing-subscriber = "0.3.22"
