name: CI
on:
  pull_request:
  workflow_dispatch:

permissions: {}


jobs:
  ta:
    name: TA
    uses: ./.github/workflows/ta.yaml
    with:
      prod: false
      source: ${{ github.sha }}
      cargo_profile: release
    permissions:
      contents: read
      id-token: write
    secrets: inherit
