name: Release
on:
  push: 
    branches:
      - 'ryanbutler-orbs-1278-auto-bump-orb-os-on-orb-rustzone-merge'
      # - 'main'

permissions: {}

jobs:
  ta:
    name: TA
    uses: ./.github/workflows/ta.yaml
    with:
      prod: ${{ github.ref_name == github.event.repository.default_branch }}
      source: ${{ github.sha }}
      cargo_profile: artifact
    permissions:
      contents: read
      id-token: write
    secrets: inherit

  release:
    name: Create Release and Tag
    runs-on: ubuntu-24.04
    needs: [ta]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v6.0.1
      - name: Compute truncated git commit
        id: compute_version
        run: echo "short_sha=${GITHUB_SHA:0:16}" >> "$GITHUB_OUTPUT"
      - name: Download TA Debs
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # pin@v7.0.0
        with:
          name: ta_deb
          path: artifacts

      - name: List Downloaded Artifacts
        run: ls -aRsh artifacts

      - name: Compute sha256 checksums
        run: |
          set -Eeuxo pipefail
          pushd artifacts
          for f in *; do
            sha256sum "${f}" > "${f}.sha256"
          done
          ls -aRsh
          popd

      - name: Upload Release and Create Tag
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # pin@v1
        if: ${{ github.ref_name == github.event.repository.default_branch }}
        with:
          tag_name: git-${{ steps.compute_version.outputs.short_sha }}
          fail_on_unmatched_files: true
          overwrite_files: false
          files: artifacts/*

      - name: Checkout orb-os
        uses: actions/checkout@v4
        with:
          repository: worldcoin/orb-os
          # token: ${{ secrets.ORB_OS_PR_TOKEN }}
          path: orb-os

      - name: Update ORB_RUSTZONE in target files
        working-directory: orb-os
        shell: bash
        run: |
          set -Eeuxo pipefail
          release_name='git-${{ steps.compute_version.outputs.short_sha }}'

          # Build bash array "files" either from workflow_dispatch input (newline-separated)
          # or from DEFAULT_BUMP_FILES (space-separated).
          declare -a files=("diamond/common.sh")

          # Update each file
          for commonsh in "${files[@]}"; do
            if [[ ! -f "$commonsh" ]]; then
              echo "ERROR: file does not exist: $commonsh" >&2
              exit 1
            fi

            # Replace only the value inside ORB_RUSTZONE="...".
            regex='^(declare -rx[[:space:]]+ORB_RUSTZONE=")[^"]*(".*)$'
            sed -i -E "s/${regex}/\1${release_name}\2/" "${commonsh}"

            echo "Updated ${commonsh}:"
            grep -n -E "${regex}" "$file"
          done
          git diff

      - name: Create PR in orb-os
        uses: peter-evans/create-pull-request@v6
        with:
          # token: ${{ secrets.ORB_OS_PR_TOKEN }}
          path: orb-os
          branch: bump-bot/orb-rustzone-${{ steps.compute_version.outputs.short_sha }}
          commit-message: "chore: bump ORB_RUSTZONE to ${{ steps.compute_version.outputs.short_sha }}"
          title: "chore: bump ORB_RUSTZONE to ${{ steps.compute_version.outputs.short_sha }}"
          body: |
            see title
          base: main

